<div class="jumbotron text-center">
  <div class="container">
    <h1>About Climber's Log!</h1>
    <p> Climber's Log is an app for recording your training sessions.  The goal is to help you stay organized and train
      more efficiently.  You can record your session with a title, description, and a date.  I recommend making the title
      "Power", "Endurance", or "Strength".  The reasons for this are listed in the Training/Nutrition tab.
      Hope this helps!  If you would like to contact me regarding the app or to contribute please email me
      at JoeyR84@gmail.com.  Happy Training!
    </p>
  </div>
</div>
