@import 'variables';

body {
  // hiding this to try to make sticky footer work
  padding-bottom: 20px;

  font-family: 'Open Sans', Arial, Tahoma;
}

.main_logged_in {
  padding: 20px;
  margin-top: 40px;


  @media (max-width: 767px) {
    margin-left: 20px;
  }
}

.main-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
}
