<% if current_user %>
  <div class="container">
    <div class="media float-auto">
      <% avatar_url = @user.avatar_url(256) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object img-rounded' %>
        </div>
        <h1>Welcome Back! Ready to Train?<h1>
      <% end %>
      <br>
      <div class="media-body">
        <h2 class="media-heading text-uppercase"><%= @user.email %></h2>
      </div>
      <br>
      <div>
        <p>Your lasted logged session: <%= @last_log %></p>
      </div>
    </div>
  </div>
  <% else %>
    <h2>Private</h2>
<% end %>
